<div class="mt-5">
  <div class="text-center">
    <h2 class="lead h4 text-primary mt-2">
      <b>Angular Front-end</b>
    </h2>
    <div class="row">
      <div class="col-4">
        <button class="btn btn-primary" (click)="getCuentas()">Listar cuentas</button>
        <div *ngIf="showAccounts">
          <ul>
            <li *ngFor="let object of accounts">
              {{object.id_cuenta}} - {{object.nombre}} {{object.activa}}
            </li>
          </ul>
        </div>
      </div>
      <div class="col-4">
        <input class="form-control" [(ngModel)]="accountId" type="number">
        <button class="btn btn-primary" (click)="getCuentaById()">Buscar cuenta por Id</button>
        <div>
          {{accountFind|json}}
        </div>
      </div>
      <div class="col-4">
        <form [formGroup]="form" (ngSubmit)="saveCuenta()" class="px-5">
          <div class="justify-content-center align-content-center">
            <div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="usernameInput" placeholder="Nombre de cuenta" formControlName="nombre">
                <label for="usernameInput">Nombre</label>
              </div>
              <div>
                <button type="submit" class="btn btn-primary w-100" [disabled]="form.invalid">
                  <span>Guardar</span>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-4">
        <input class="form-control" [(ngModel)]="accountIdPatch" type="number">
        <button class="btn btn-primary" (click)="logicalDeleteCuenta()">Eliminar cuenta Patch</button>
        <div>
          {{responsePatch|json}}
        </div>
      </div>
      <div class="col-4">
        <input class="form-control" [(ngModel)]="accountIdDelete" type="number">
        <button class="btn btn-primary" (click)="deleteCuenta()">Eliminar cuenta</button>
        <div>
          {{responseDelete|json}}
        </div>
      </div>
    </div>
  </div>
</div>
